<app-navbar></app-navbar>
<div class="container" >
  <div class="jumbotron">
    <h1 class="display-3 text-center m-3" > Bienvenido </h1>
    <div class="row">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary">
                <i class="fa fa-list-ul fa-4x"></i>
                <br>
                <br>
                <h2>Lista de API's</h2>
            </button>
        </div>
        <div class="col-md-6 text-center">
            <button class="btn btn-primary" [routerLink]="['/intranet']">
                <i class="fa fa-sign-in fa-4x"></i>
                <br>
                <br>
                <h2>INTRANET</h2>
            </button>
        </div>
      
    </div>
  </div>


</div>

<!-- https://angular-maps.com/api-docs/agm-core/index.html -->

audio sem12 dia12 min 5